*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: 900;
}
body{
    background-color: rgb(243, 240, 243);
    text-align: center;
}
div{
    background: url("https://i.pinimg.com/originals/05/59/94/05599424bb5a1b7819956d0288559697.gif");
    margin-top: 20px;
    width: 100%;
    height: 85vh;
}
button{
    color: blueviolet;
    background-color: rgb(170, 153, 170);
    border-radius: 20px;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.5;
}
img{
    border-radius: 50px;
}
@media screen and (max-width: 780px){
    img{
        width: 100%;
    }
}